mixin flex(cols)
  .f-row.demo-row
    while cols--
      .f-col .f-col

html
  head
    title My Grid
    link(rel="stylesheet" href="./css/main.css")
    link(rel="stylesheet" href="./css/demo.css")

  body
    h1 My Grid
    .f-row
      .f-col
        h2 Basic Grid
    .f-row
      .f-col
        h3 16 Columns
    +flex(16)

    .f-row
      .f-col
        h3 8 Columns
    +flex(8)

    .f-row
      .f-col
        h3 4 Columns
    +flex(4)

    .f-row
      .f-col
        h3 2 Columns
    +flex(2)

    .f-row
      .f-col
        h3 1 Column
    +flex(1)

    .f-row
      .f-col
        h2 Responsive Grid

    .f-row
      .f-col
        h3 2 Columns - Both 100%, 50% on medium up
    .f-row.demo-row
      .f-col.f-col--16.f-col__md--8 .f-col--16.f-col__md--8
      .f-col.f-col--16.f-col__md--8 .f-col--16.f-col__md--8

    .f-row
      .f-col
        h3 3 Columns - 100, 1@100 2@50 on medium, 1@25, 1 fluid, 1@25 on Large
    .f-row.demo-row
      .f-col.f-col--16.f-col__md--16.f-col__lg--4 .f-col--16.f-col__md--8
      .f-col .f-col
      .f-col.f-col--16.f-col__md--8.f-col__lg--4 .f-col--16.f-col__md--8
