@import 'config';

.col {
  box-sizing: border-box;
  display: inline-block;
}

@for $i from 1 through $cols {
  .col--#{$i} {
    margin: 0;
    padding: 0 10px;
    width: 100% / ($cols / $i);
  }
}

.f-row {
  display: flex;
  flex-wrap: wrap;
}

.f-row--center {
  justify-content: center;
}

.f-row--between {
  justify-content: space-between;
}


.f-row--space {
  justify-content: space-around;
}

[class*='f-col--'] {
  flex-grow: 1;
}

[class*='f-col__'] {
  flex-grow: 0;
}


@media #{$md-query} {
  @for $i from 1 through $cols {
    .col__md--#{$i} {
      width: 100% / ($cols / $i);
    }
  }
}

@media #{$lg-query} {
  .container {
    margin: 0 auto;
    max-width: $lg;
  }

  @for $i from 1 through $cols {
    .col__lg--#{$i} {
      width: 100% / ($cols / $i);
    }
  }
}

