@import 'config';

.container,
.row {
  box-sizing: border-box;
}

.row {
  width: 100%;
}

.row--breakout {
  left: 50%;
  transform: translateX(-50vw);
  width: 100vw;
}

.col {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}


@for $i from 1 through $cols {
  .col--#{$i} {
    margin: 0;
    padding: 0;
    width: 100% / ($cols / $i);
  }
}

.f-row {
  display: flex;
  flex-wrap: wrap;
}

.f-row--center {
  justify-content: center;
}

.f-row--between {
  justify-content: space-between;
}

.f-row--end {
  justify-content: flex-end;
}

.f-row--around {
  justify-content: space-around;
}

.f-col {
  flex-basis: 0;
  flex-grow: 1;
}

@for $i from 1 through $cols {
  .f-col--#{$i} {
    flex-grow: #{$i};
  }
}

@media #{$sm-query} {
  .f-col {
    width: 0;
  }

  @for $i from 1 through $cols {
    .col__sm--#{$i} {
      width: 100% / ($cols / $i);
    }
  }

}

@media #{$md-query} {
  @for $i from 1 through $cols {
    .col__md--#{$i} {
      width: 100% / ($cols / $i);
    }
  }
}

@media #{$lg-query} {
  .container {
    margin: 0 auto;
    max-width: $lg;
  }

  @for $i from 1 through $cols {
    .col__lg--#{$i} {
      width: 100% / ($cols / $i);
    }
  }
}

