@import 'config';

.f-row {
  display: flex;
  flex-wrap: wrap;
}

.f-row--center {
  justify-content: center;
}

.f-row--between {
  justify-content: space-between;
}


.f-row--space {
  justify-content: space-around;
}

.f-col {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0;
  padding: 0 10px;
}

[class*='f-col__'],
[class*='f-col--'] {
  flex-grow: 0;
}

@for $i from 1 through $cols {
  .f-col--#{$i} {
    width: 100% / ($cols / $i);
  }
}

@media #{$md} {
  @for $i from 1 through $cols {
    .f-col__md--#{$i} {
      width: 100% / ($cols / $i);
    }
  }
}

@media #{$lg} {
  @for $i from 1 through $cols {
    .f-col__lg--#{$i} {
      width: 100% / ($cols / $i);
    }
  }
}
